<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Plugins | <%=client.user.username%> </title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js">
    <link rel="stylesheet" href="../<%=theme.theme%>" data-skin="default">
    <link rel="stylesheet" href="../home/assets/stylesheets/plugins.css">
  </head>
  <body>
    <div class="app">
      <header class="app-header app-header-dark">
        <div class="top-bar">
          <div class="top-bar-brand">
            <h5>Discord BOT Dashboard</h5>
          </div>
          <div class="top-bar-list">
            <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
              <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
            </div>
            <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
              <div class="dropdown d-none d-md-flex">
                <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- .dropdown-menu -->
                <div class="dropdown-menu">
                  <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                  <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                  <h6 class="dropdown-header d-none d-md-block d-lg-none"> <%= profile.username %> </h6><a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <aside class="app-aside app-aside-expand-md app-aside-light">
        <div class="aside-content">
          <header class="aside-header d-block d-md-none">
            <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- /.btn-account -->
            <div id="dropdown-aside" class="dropdown-aside collapse">
              <div class="pb-3">
                <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
              </div>
            </div>
          </header>
          <div class="aside-menu overflow-hidden">
            <nav id="stacked-menu" class="stacked-menu">
              <ul class="menu">
                <li class="menu-item">
                  <a href="/" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                </li>
                <li class="menu-item has-active">
                  <a href="/plugins" class="menu-link"><span class="menu-icon fas fa-rocket"></span> <span class="menu-text">Plugins</span></a>
                </li>
                <li class="menu-item">
                  <a href="/guilds" class="menu-link"><span class="menu-icon fas fa-server"></span> <span class="menu-text">Guilds</span></a>
                </li>
                <li class="menu-item">
                    <a href="/support" class="menu-link"><span class="menu-icon fas fa-question-circle"></span> <span class="menu-text">Support</span></a>
                </li>
                <li class="menu-item">
                    <a href="/settings" class="menu-link"><span class="menu-icon fas fa-cog"></span> <span class="menu-text">Settings</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>
      <main class="app-main">
        <div class="wrapper">
          <div class="page">
            <div class="page-inner">
              <div class="page-section">
                  <div class="section-block">
                    <% if(success != ''){ %>
                        <div class="alert alert-success has-icon alert-dismissible fade show">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <div class="alert-icon">
                            <span class="oi oi-flag"></span>
                          </div>
                          <h4 class="alert-heading"> Success! </h4>
                          <p class="mb-0"><%=success%></p>
                        </div>
                    <% } %>
                    <% if(error != ''){ %>
                      <div class="alert alert-warning has-icon alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-icon">
                          <span class="fa fa-bullhorn"></span>
                        </div>
                        <h4 class="alert-heading"> Warning! </h4>
                        <p class="mb-0"><%=error%></p>
                      </div>
                  <% } %> 
                    <h4>Plugins</h4>
                    <p class="text-muted"> Configure and enable plugins that you would like to use!</p>
                    <p class="text-muted"><strong>NOTE: When importing/removing or enabling/disabling plugins you will require to restart Discord BOT Dashboard for changes to take effect!</strong></p>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#upload">Import</button>
                    </div>
                    <div class="row">
                        <% commandName.forEach(function(commandName) { %>
                        <% if (!commandName.endsWith(".js")) return; { %>
                        <% } %>
                        <% if (commandName.startsWith("index")) return; { %>
                        <% } %>
                        <% if (commands[commandName.split(".")[0]] === undefined || commands[commandName.split(".")[0]] === null) return; { %>
                        <% } %>
                        <div class="col-lg-4">
                          <div class="card">
                            <% if (commands[commandName.split(".")[0]].details.icon) { %>
                                <div class="card-header"><figure class="user-avatar user-avatar-lg"><img src="<%=commands[commandName.split(".")[0]].details.icon%>" alt=""></figure> <%=commands[commandName.split(".")[0]].details.name%></div>
                                <% } %>
                            <% if (!commands[commandName.split(".")[0]].details.icon) { %>
                                    <div class="card-header"><figure class="user-avatar user-avatar-lg"><img src="https://www.online-tech-tips.com/wp-content/uploads/2019/09/discord.jpg.optimal.jpg" alt=""></figure> <%=commands[commandName.split(".")[0]].details.name%></div>
                            <% } %>
                            <div class="card-body">
                              <p class="card-text"><strong>Developer:</strong> <%=commands[commandName.split(".")[0]].details.author %> </p>
                              <p class="card-text"><strong>Description:</strong> <%=commands[commandName.split(".")[0]].details.description %> </p>
                              <p class="card-text"><strong>Usage:</strong> <%=commands[commandName.split(".")[0]].details.usage %></p>
                              <% if (commandsToggle.includes(commandName.split(".")[0])) { %>
                              <div class="blocktext">
                                <form id="myForm" action="/plugins/toggle" method="post">
                                  <input type="hidden" name="toggle" value="true">
                                  <input type="hidden" name='commandName' value=<%=commandName.split(".")[0]%>>
                                  <label class="switch">
                                    <input type="checkbox" value="false" name="toggles" onclick="submit()" id="toggles">
                                    <span class="slider round"></span>
                                  </label>
                                </form>
                              </div>
                              <% } %>
                              <% if (!commandsToggle.includes(commandName.split(".")[0])) { %>
                                <div class="blocktext">
                                  <form id="myForm" action="/plugins/toggle" method="post">
                                    <input type="hidden" name="toggle" value="false">
                                    <input type="hidden" name='commandName' value=<%=commandName.split(".")[0]%>>
                                    <label class="switch">
                                      <input type="checkbox" value="true" name="toggles" onclick="submit()" id="toggles" checked>
                                      <span class="slider round"></span>
                                    </label>
                                  </form>
                                </div>
                                <% } %>
                            </div>
                              <div class="card-footer-item"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#<%=commandName.split(".")[0]%>">Remove</a></div>
                          </div>
                        </div>
                        <!-- Remove Modal -->
                        <div class="modal modal-alert fade" id="<%=commandName.split('.')[0]%>" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="<%=commandName.split('.')[0]%>Label" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 id="<%=commandName.split('.')[0]%>Label" class="modal-title">
                                  <i class="far fa-trash-alt text-warning mr-1"></i> Remove Plugin</h5>
                              </div>
                              <div class="modal-body">
                                <p> Are you sure you want to remove the plugin <strong><%=commandName.split('.')[0]%></strong>? This cannot be undone!</p>
                              <div class="modal-footer">
                                <form action="/plugins/remove/<%=commandName%>" method="POST">
                                  <button type="button" class="btn btn-warning" onclick="submit()">Remove</button>                               
                              </form>
                              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal End -->
                      </div>
                        <% }); %>
                        <!-- Import Modal -->
                        <div class="modal modal-alert fade" id="upload" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 id="uploadLabel" class="modal-title">
                                  <i class="fa fa-file-import text-success mr-1"></i> Plugin Import</h5>
                              </div>
                              <div class="modal-body">
                                <p> Keep in mind after importing the plugin make sure to restart your application for changes to take effect.</p>
                                <form ref='uploadForm' 
                                id='uploadForm' 
                                action='plugins/upload' 
                                method='post' 
                                encType="multipart/form-data">
                                <div class="d-flex justify-content-center">
                                  <label class="btn btn-warning">
                                    <input id="file-upload" type="file" name="sampleFile" hidden accept=".js" />
                                    <span><i class="fas fa-upload"></i> Upload File</span>
                                  </label>
                                </div>
                                <p class="text-center" id="file-name"></p>
                              </form
                              </div>
                              <div class="modal-footer">
                                  <button id="uploadButton" type="submit" form="uploadForm" value="Submit" class="btn btn-warning" hidden>Upload</button>                               
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        <footer class="app-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted" href="https://twitter.com/LachlanDev" target="_blank">Twitter</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://github.com/LachlanDev" target="_blank">GitHub</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://www.instagram.com/lachlanDev/" target="_blank">Instagram</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://discord.com/invite/w7B5nKB" target="_blank">Discord Server</a>
            </li>
          </ul>
          <div class="copyright">Discord BOT Dashboard V2 - LachlanDev#8014 </div>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../home/assets/vendor/popper-js/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script> 
    <script src="../home/assets/javascript/theme.min.js"></script> 
    <script>
      document.querySelector("#file-upload").onchange = function(){
        document.querySelector("#file-name").textContent = this.files[0].name + " is ready for upload!";
        document.getElementById("uploadButton").hidden = false;
      }
    </script>
</html>
