<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Settings | <%=client.user.username%> </title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js">
    <link rel="stylesheet" href="../<%=theme.theme%>" data-skin="default">
  </head>
  <body>
    <div class="app">
      <header class="app-header app-header-dark">
        <div class="top-bar">
          <div class="top-bar-brand">
            <h5>Discord BOT Dashboard</h5>
          </div>
          <div class="top-bar-list">
            <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
              <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
            </div>
            <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
              <div class="dropdown d-none d-md-flex">
                <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- .dropdown-menu -->
                <div class="dropdown-menu">
                  <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                  <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                  <h6 class="dropdown-header d-none d-md-block d-lg-none"> <%= profile.username %> </h6><a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <aside class="app-aside app-aside-expand-md app-aside-light">
        <div class="aside-content">
          <header class="aside-header d-block d-md-none">
            <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- /.btn-account -->
            <div id="dropdown-aside" class="dropdown-aside collapse">
              <div class="pb-3">
                <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
              </div>
            </div>
          </header>
          <div class="aside-menu overflow-hidden">
            <nav id="stacked-menu" class="stacked-menu">
              <ul class="menu">
                <li class="menu-item">
                  <a href="/" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                </li>
                <li class="menu-item">
                  <a href="/plugins" class="menu-link"><span class="menu-icon fas fa-rocket"></span> <span class="menu-text">Plugins</span></a>
                </li>
                <li class="menu-item">
                  <a href="/guilds" class="menu-link"><span class="menu-icon fas fa-server"></span> <span class="menu-text">Guilds</span></a>
                </li>
                <li class="menu-item">
                    <a href="/support" class="menu-link"><span class="menu-icon fas fa-question-circle"></span> <span class="menu-text">Support</span></a>
                </li>
                <li class="menu-item has-active">
                    <a href="/settings" class="menu-link"><span class="menu-icon fas fa-cog"></span> <span class="menu-text">Settings</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>
      <main class="app-main">
        <div class="wrapper">
          <div class="page">
            <div class="page-inner">
              <div class="page-section">
                  <div class="section-block">
                    <% if(success != ''){ %>
                      <div class="alert alert-success has-icon alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-icon">
                          <span class="oi oi-flag"></span>
                        </div>
                        <h4 class="alert-heading"> Success! </h4>
                        <p class="mb-0"><%=success%></p>
                      </div>
                  <% } %> 
                  <% if(error != ''){ %>
                    <div class="alert alert-warning has-icon alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      <div class="alert-icon">
                        <span class="fa fa-bullhorn"></span>
                      </div>
                      <h4 class="alert-heading"> Warning! </h4>
                      <p class="mb-0"><%=error%></p>
                    </div>
                <% } %> 
                    <h4> Settings</h4>
                    <p class="text-muted"> Customize your BOT and update settings within the dashboard!</p>  
                        <div class="card bg-secondary">
                          <div class="card-header"> 🛠️ Config Settings</div>
                          <div class="card-body">
                            <p class="card-text"> Configure your BOT's config file directly from the dashboard, any changes made requires a restart to apply!<br>
                            </p>       
                            <form id="config-form" action="/settings/config" method="POST">
                              <label for="clientID"><strong>Client ID:</strong></label><br>
                              <input type="text" id="clientID" name="clientID" class="form-control" value="<%=config.clientID%>"><br>
                              <label for="clientSecret"><strong>Client Secret:</strong></label> <a href="#clientSecret" data-toggle="password"><i class="fa fa-fw fa-eye-slash"></i> <span>Hide</span></a><br>
                              <input type="password" id="clientSecret" name="clientSecret" class="form-control" value="<%=config.clientSecret%>"><br>
                              <label for="callbackURL"><strong>Callback URL:</strong></label><br>
                              <input type="text" id="callbackURL" name="callbackURL" class="form-control" value="<%=config.callbackURL%>"><br>
                              <label for="admin"><strong>Admin:</strong></label><br>
                              <p>* Adding multiple Admins can be done by spliting their id's with commas (Example: <strong>1234,5678</strong>)</p>
                              <input type="text" id="admin" name="admin" class="form-control" value="<%=config.Admin%>"><br>
                              <label for="token"><strong>Token:</strong></label> <a href="#token" data-toggle="password"><i class="fa fa-fw fa-eye-slash"></i> <span>Hide</span></a><br>
                              <input type="password" id="token" name="token" class="form-control" value="<%=config.token%>"><br>
                              <label for="prefix"><strong>Prefix:</strong></label><br>
                              <input type="text" id="prefix" name="prefix" class="form-control" value="<%=config.prefix%>"><br>
                              <label for="prefix"><strong>Port:</strong></label><br>
                              <input type="text" id="port" name="port" class="form-control" value="<%=config.port%>"><br>
                              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
                            </form>      
                        </div>
                  </div>
                  <div class="card bg-secondary">
                    <div class="card-header"> 🎨 Dashboard Settings</div>
                    <div class="card-body">
                      <p class="card-text"> Customization options for your Dashboard!<br>
                      </p>
                      <label for="admin"><strong>Import theme:</strong></label><br>
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#upload">Import</button>
                      <br>
                      <br>
                      <form id="dashboard-form" action="/settings/dashboard" method="POST">
                        <label for="admin"><strong>Theme Select:</strong></label><br>
                        <div class="form-label-group">
                          <select class="custom-select" id="theme" name="theme" form="dashboard-form">
                            <option value=""> Choose... </option>
                            <% themeName.forEach(function(themeName) { %>     
                              <% if (!themeName.endsWith(".css")) return; %>\
                              <option> <%=themeName%> </option>              
                            <% }); %>
                            <option selected="selected" hidden> <%=theme.theme%></option>
                          </select> <label for="theme">Theme</label>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
                      </form>
                  </div>
            </div>
                  <div class="card bg-secondary">
                    <div class="card-header"> ⚙️ Build Info</div>
                    <div class="card-body">
                      <p class="card-text"> Important information about the Discord BOT Dashboard V2 version you are running!<br>
                      </p>       
                      <p><strong>Version:</strong> <%=version.ver%></p>
                      <p><strong>Created By:</strong> LachlanDev#8014</p>
                  </div>
            </div>
        </div>
        <!-- Import Model -->
        <div class="modal modal-alert fade" id="upload" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="uploadLabel" class="modal-title">
                  <i class="fa fa-file-import text-success mr-1"></i> Theme Import</h5>
              </div>
              <div class="modal-body">
                <p> Please select the theme css file you would like to import!</p>
                <form ref='uploadForm' 
                id='uploadForm' 
                action='settings/upload/theme' 
                method='post' 
                encType="multipart/form-data">
                <div class="d-flex justify-content-center">
                  <label class="btn btn-warning">
                    <input id="file-upload" type="file" name="sampleFile" hidden accept=".css" />
                    <span><i class="fas fa-upload"></i> Upload File</span>
                  </label>
                </div>
                <p class="text-center" id="file-name"></p>
              </form
              </div>
              <div class="modal-footer">
                  <button id="uploadButton" type="submit" form="uploadForm" value="Submit" class="btn btn-warning" hidden>Upload</button>                               
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- End Import Model -->
        <footer class="app-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted" href="https://twitter.com/LachlanDev" target="_blank">Twitter</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://github.com/LachlanDev" target="_blank">GitHub</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://www.instagram.com/lachlanDev/" target="_blank">Instagram</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://discord.com/invite/w7B5nKB" target="_blank">Discord Server</a>
            </li>
          </ul>
          <div class="copyright">Discord BOT Dashboard V2 - LachlanDev#8014 </div>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../home/assets/vendor/popper-js/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script> 
    <script src="../home/assets/javascript/theme.min.js"></script> 
    <script>
      document.querySelector("#file-upload").onchange = function(){
        document.querySelector("#file-name").textContent = this.files[0].name + " is ready for upload!";
        document.getElementById("uploadButton").hidden = false;
      }
    </script>
</html>